<mat-nav-list>
  
  <mat-list-item 
    routerLinkActive="active-list-item"
    [routerLink]="appRoutes.HOME"
    (click)="onToggleSideNav()">
    <mat-icon mat-list-icon>home</mat-icon>
    <p mat-line>Home</p>
  </mat-list-item>

  <mat-list-item 
    routerLinkActive="active-list-item"
    [routerLink]="appRoutes.BLOG_DASHBOARD"
    (click)="onToggleSideNav()">
    <mat-icon mat-list-icon>explore</mat-icon>
    <p mat-line>Blog</p>
  </mat-list-item>

  <mat-list-item 
    routerLinkActive="active-list-item"
    [routerLink]="appRoutes.PRODUCT_DASHBOARD"
    (click)="onToggleSideNav()">
    <mat-icon mat-list-icon>video_label</mat-icon>
    <p mat-line>Products</p>
  </mat-list-item>

  <mat-list-item 
    routerLinkActive="active-list-item"
    [routerLink]="appRoutes.DATA_IMPORTS"
    (click)="onToggleSideNav()">
    <mat-icon mat-list-icon>cloud_upload</mat-icon>
    <p mat-line>Data Imports</p>
  </mat-list-item>

</mat-nav-list>
