<div class="content-container">
  <!-- <img class="post-image" [src]="(serverPost$ | async)?.heroImages?.imageUrlLarge || DEFAULT_POST_IMAGE" > -->
  <img class="post-image" [src]="$post().heroImages.imageUrlLarge" >
  <input #imageInput style="display: none" type="file" accept="image/*" id="file" (change)="onSubmit($event)">
  @if (!(combinedUploadPostImageProcessing$ | async) && !$resizePostImageCycleInit()) {
    <button mat-stroked-button color="primary" (click)="imageInput.click()">{{ UPLOAD_IMAGE_BUTTON_VALUE }}</button>
  }
  @if ((combinedUploadPostImageProcessing$ | async) || $resizePostImageCycleInit()) {
    <app-processing-spinner></app-processing-spinner>
  }
</div>    
