@import "../../../../variables";

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;

  margin-top: 32px;
}

.post-image {
  width: 100%;
  max-width: 800px;
}

button {
  width: 100%;
  @media screen and (min-width: $mobile-cutoff-width) {
    width: $desktop-button-width; 
  }
}