<div class="page-container" fxLayout="column" fxLayoutAlign="center center">
  <div class="title">Product Form</div>

  <div class="product-image-upload-section" fxLayout="column" fxLayoutAlign="center center">
    <div>
      <h3>Product Image (500x200)</h3>
    </div>
    <div *ngIf="imageUploadProcessing$ | async">
      <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
    </div>
    <div class="product-image-input" *ngIf="!(imageUploadProcessing$ | async)">
      <input #imageInput style="display: none" type="file" accept="image/*" id="file" (change)="onUploadProductImage($event)">
      <button mat-raised-button color="accent" (click)="imageInput.click()">Choose Thumbnail Image</button>
    </div>
    <div *ngIf="(imageProps$ | async) as imageData">
      <img class="product-image-display" [src]="imageData.src" [alt]="(productData$ | async)?.name">
    </div>
  </div>

  <div class="product-form-container" fxLayout="column" fxLayoutAlign="center center">
    <form 
      class="product-form" 
      [formGroup]="productForm"
      (ngSubmit)="onSave()"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="16px"
      >
      <mat-form-field class="name">
        <input matInput formControlName="name" type="text" placeholder="Product Name">
        <mat-error *ngFor="let validation of productValidationMessages.name">
          <mat-error *ngIf="name.hasError(validation.type) && name.invalid && (name.dirty || name.touched)">{{ validation.message }}</mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="price">
        <input matInput formControlName="price" type="number" placeholder="Product Price">
        <mat-error *ngFor="let validation of productValidationMessages.price">
          <mat-error *ngIf="price.hasError(validation.type) && price.invalid && (price.dirty || price.touched)">{{ validation.message }}</mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="listOrder">
        <input matInput formControlName="listOrder" type="number" placeholder="Product List Order">
        <mat-error *ngFor="let validation of productValidationMessages.listOrder">
          <mat-error *ngIf="listOrder.hasError(validation.type) && listOrder.invalid && (listOrder.dirty || listOrder.touched)">{{ validation.message }}</mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="checkoutHeader">
        <textarea matInput cdkTextareaAutosize (keydown.enter)="textareaEnterPressed($event)" formControlName="checkoutHeader" type="text" placeholder="Product Checkout Header"></textarea>
        <mat-error *ngFor="let validation of productValidationMessages.checkoutHeader">
          <mat-error *ngIf="checkoutHeader.hasError(validation.type) && checkoutHeader.invalid && (checkoutHeader.dirty || checkoutHeader.touched)">{{ validation.message }}</mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="description">
        <textarea matInput cdkTextareaAutosize (keydown.enter)="textareaEnterPressed($event)" formControlName="description" type="text" placeholder="Product Description"></textarea>
        <mat-error *ngFor="let validation of productValidationMessages.description">
          <mat-error *ngIf="description.hasError(validation.type) && description.invalid && (description.dirty || description.touched)">{{ validation.message }}</mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mdBlurb">
        <textarea matInput cdkTextareaAutosize (keydown.enter)="textareaEnterPressed($event)" formControlName="mdBlurb" type="text" placeholder="Product Blurb"></textarea>
        <mat-error *ngFor="let validation of productValidationMessages.mdBlurb">
          <mat-error *ngIf="mdBlurb.hasError(validation.type) && mdBlurb.invalid && (mdBlurb.dirty || mdBlurb.touched)">{{ validation.message }}</mat-error>
        </mat-error>
      </mat-form-field>
      <div class="highlights-array-container" fxLayout="column" fxLayoutAlign="center center">
        <button class="add-highlight-button" mat-raised-button color="primary" type="button" (click)="onAddHighlight()">
          <mat-icon>add</mat-icon> Add Highlight
        </button>
        <div class="highlight-container" formArrayName="highlights" *ngFor="let highlight of highlights.controls; let i = index;" fxLayout="row" fxLayoutAlign="center center">
          <mat-form-field class="highlight">
            <input matInput [formControl]="highlight" type="text" placeholder="Product Highlight">
            <mat-error *ngFor="let validation of productValidationMessages.highlight">
              <mat-error *ngIf="highlight.hasError(validation.type) && highlight.invalid && (highlight.dirty || highlight.touched)">{{ validation.message }}</mat-error>
            </mat-error>
          </mat-form-field>
          <button *ngIf="i > minHighlightsLength - 1" class="remove-highlight-button" mat-icon-button color="primary" type="button" (click)="onRemoveHighlight(i)">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </div>
      <div class="form-actions" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <button class="submit-button" [disabled]="productForm.invalid || !productInitialized" mat-raised-button color="accent" type="button" (click)="onSave()">Save Product</button>
        <button *ngIf="isNewProduct" class="discard-button" [disabled]="!productInitialized" mat-raised-button color="warn" type="button" (click)="onDiscardEdits()">Discard Product</button>
        <button *ngIf="!isNewProduct" class="discard-button" [disabled]="!productInitialized" mat-raised-button color="warn" type="button" (click)="onDiscardEdits()">Discard Edits</button>
      </div>
    </form>
  </div>
</div>