<div class="page-container">
  <div class="create-post-container" fxLayout="row" fxLayoutAlign="center center">
    <button class="create-post-button" mat-raised-button (click)="onCreatePost()">Create Post</button>
  </div>
  <div class="blog-container">
    <div class="grid-container" gdColumns="repeat(auto-fill, minmax(300px, 1fr))" gdAlignRows="center center" gdGap="10px" fxFill>
      <app-post-card *ngFor="let post of posts | async" [post]="post" fxLayout="column"></app-post-card>
    </div>
  </div>
</div>