@import "../../../../variables";

// :host {
//   width: 100%;
//   max-width: $max-screen-width;
// }

.page-container {
  max-width: 1000px;
  margin: 0 auto;
}

.create-post-container {
  margin: 16px;
}

.create-post-button {
  background-color: $accent;
  color: white;
}

.blog-container {
  max-width: 100%;
  padding: 16px;
}