<div class="create-post-container" fxLayout="row" fxLayoutAlign="center center">
  <button class="create-post-button" mat-raised-button (click)="onCreatePost()">Create Post</button>
</div>
<div class="blog-container" fxLayoutAlign="center start" fxFill>
  <section gdColumns="repeat(auto-fit, minmax(300px, 1fr))" gdGap="10px">
    <mat-card *ngFor="let post of posts | async">
      <mat-card-content (click)="onSelectBlogItem(post.id)">
        <div *ngIf="post.heroImageProps">
          <img [src]="post.heroImageProps.src" [srcset]="post.heroImageProps.srcset" [sizes]="post.heroImageProps.sizes" [width]="post.heroImageProps.width" [alt]="post.title">
        </div>
        <h2>{{ post.title }}</h2>
        <p><small>Posted by {{ post.author }} &bull; {{ post.published['seconds'] * 1000 | date }}</small></p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-icon-button (click)="onDelete(post.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </section>
</div>