@import "../../../../variables";

.page-container {
  max-width: $max-screen-width;
}

.create-post-container {
  margin: 16px;
}

.create-post-button {
  background-color: $accent;
  color: white;
}

.blog-container {
  max-width: $max-screen-width;
  padding: 16px;
}

mat-card {
  margin: 10px 0;
}

mat-card-content {
  height: 100%;
}

img {
  width: 100%;
}