@import "../../../variables";

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;

  margin-top: 32px;
}

button {
  width: $mobile-button-width;

  @media screen and (min-width: $mobile-cutoff-width) {
    width: $desktop-button-width; 
  }
}